* {
  margin: 0;
  padding: 0;
  font-family: "Mabinogi_Classic";
}

body {
  width: 100%;
}

input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 1px;
  height: 1px;
  appearance: none;
  opacity: 0;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  padding: 12px;
  border-bottom: 1px solid #dddddd;
}

.nav-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 8px;
  background: var(--white);
}

a {
  text-decoration: none;
  color: initial;
}

ul, ol {
  list-style: none;
}

.todo {
  position: fixed;
  bottom: 12px;
  left: 2%;
  z-index: 999;
  width: 40px;
  height: 40px;
  background: darkcyan;
  border-radius: 100%;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s;
}

.todo.expanded {
  width: 520px;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 24px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.8431372549);
  border: 2px solid var(--brd-gr);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  text-indent: 0;
}

.todo.expanded h2 {
  position: sticky;
  top: -12px;
  padding: 12px 0;
  background: #fff;
}

.todo.expanded p {
  font-size: 22px;
  line-height: 1.5;
}

.todo.expanded span {
  display: block;
  font-size: 18px;
  color: var(--txt-gr);
}

.todo.expanded .complete {
  text-decoration: line-through;
  color: var(--btn-dis);
}

.todo.expanded p:not(:first-child) {
  padding-top: 8px;
  margin-top: 8px;
  border-top: 1px solid var(--brd-gr);
}

.inner .tab-title {
  display: inline-block;
  margin-bottom: 36px;
  padding: 16px 36px;
  text-align: center;
  border-radius: 50px;
  background: #fff;
}

.npc-wrap {
  padding: 24px 24px 48px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  box-sizing: border-box;
  background: var(--bg-hl);
}

.btn-press {
  appearance: none;
  position: relative;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: initial;
  border-style: none;
  margin-bottom: 12px;
}
.btn-press::before {
  position: absolute;
  bottom: -12px;
  left: 0;
  z-index: -1;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--brd-dgr);
  border-radius: 8px;
}
.btn-press:active span {
  transform: translateY(8px);
}
.btn-press span {
  display: block;
  padding: 8px 18px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  background: #fff;
  transition: all 0.05s;
  transform: translateY(0);
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.btn-press.small::before {
  bottom: -8px;
}
.btn-press.small span {
  padding: 6px 12px;
  font-size: 16px;
}
.btn-press.small:active span {
  transform: translateY(4px);
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
}

.givemethemoney {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.loading-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  transition: opacity 1s;
}
.loading-wrap::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: var(--main);
  opacity: 0.9;
}
.loading-wrap .inner {
  position: relative;
  z-index: 1;
}
.loading-wrap.hide {
  opacity: 0;
}

#container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  isolation: isolate;
}
.content.merchant-neroo {
  background: url(/public/img/bg/bg-TirChonaill.jpg) no-repeat center center/cover;
}
.content.seal-merchant, .content.merchant-nooonoo {
  background: url(/public/img/bg/bg-Dunbarton.png) no-repeat center center/cover;
}
.content.dell, .content.dellen, .content.merchant-meroo {
  background: url(/public/img/bg/bg-EmainMacha.jfif) no-repeat center center/cover;
}
.content.pionart {
  background: url(/public/img/bg/bg-magmel.webp) no-repeat center center/cover;
}
.content::after {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  z-index: -1;
  inset: 0;
  opacity: 1;
  backdrop-filter: blur(4px);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.popup .popup-wrap {
  position: relative;
  z-index: 1;
  min-width: 360px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}
.popup .popup-header {
  padding: 12px 24px;
  border-bottom: 1px solid var(--brd-gr);
}
.popup .popup-header .main-txt {
  line-height: 1.5;
  font-size: 20px;
  font-weight: 700;
  color: var(--txt-dark);
}
.popup .popup-inner {
  padding: 24px;
}
.popup .popup-inner p {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  color: var(--txt-bk);
  text-align: center;
  white-space: pre-line;
}
.popup .popup-bot .btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px 24px 12px;
  border-top: 1px solid var(--brd-gr);
}
.popup .popup-bot .btn {
  font-size: 20px;
}
.popup .dim {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
}
.popup .popup-alert {
  padding: 24px;
  text-align: center;
  font-size: 20px;
}
.popup .popup-alert .alert-txt {
  white-space: pre-line;
  line-height: 1.5;
}

.color-interface-wrap {
  position: fixed;
  bottom: -24px;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  width: 1px;
}
.color-interface-wrap.show {
  width: auto;
}
.color-interface-wrap .color-btn {
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border-style: none;
  cursor: pointer;
  background: var(--main);
}
.color-interface-wrap .color-btn .hover-txt {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 8px 12px;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 16px;
  border-radius: 50px;
  background: var(--white);
  border: 1px solid #eee;
  opacity: 0;
  transform: translate(-50%, 0);
  transition: all 0.3s;
}
.color-interface-wrap .color-btn:hover .hover-txt {
  opacity: 1;
  transform: translate(-50%, -100%);
}

.shop-wrap {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0 auto;
  width: min-content;
}
.shop-wrap .shop-header {
  padding: 24px 48px;
  background: var(--shop-header);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom: 2px solid var(--deep);
}
.shop-wrap .shop-header strong {
  font-size: 24px;
  color: var(--text-dark);
}
.shop-wrap .tab-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 12px;
  border-bottom: 1px solid var(--deep);
}
.shop-wrap .tab-header .tab-btn {
  border: 1px solid var(--deep);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: var(--tab-btn);
  padding: 8px 16px;
  font-weight: var(--bold);
  font-size: 18px;
  color: var(--text-dark);
  cursor: pointer;
}
.shop-wrap .tab-header .tab-btn.active {
  color: var(--text-light);
}
.shop-wrap .inner {
  padding: 24px 28px;
  background: var(--main);
}
.shop-wrap .tab-body {
  position: relative;
  padding: 24px 0;
}
.shop-wrap .tab-body [class*=plaid-] {
  z-index: 0;
  width: 100%;
  height: 512px;
}
.shop-wrap .tab-body .plaid-wrap {
  position: absolute;
  background: var(--inner);
  overflow: hidden;
  top: 24px;
  left: 0;
}
.shop-wrap .tab-body .plaid-col {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 64px);
}
.shop-wrap .tab-body .plaid-col span::before {
  display: block;
  margin-top: 2px;
  width: 2px;
  height: 100%;
  content: "";
  background: var(--main);
  box-shadow: 2px 0 0 var(--deep);
}
.shop-wrap .tab-body .plaid-col span:last-child {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.shop-wrap .tab-body .plaid-col span:last-child::after {
  display: block;
  content: "";
  margin-top: 2px;
  margin-right: -2px;
  width: 2px;
  height: 100%;
  background: var(--main);
}
.shop-wrap .tab-body .plaid-row {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: repeat(12, 64px);
}
.shop-wrap .tab-body .plaid-row span::before {
  display: block;
  width: 100%;
  height: 2px;
  display: block;
  content: "";
  background: var(--main);
  box-shadow: 0 2px 0 var(--deep);
}
.shop-wrap .tab-body .tab {
  position: relative;
  z-index: 1;
  display: none;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 2px;
  width: 768px;
  height: 512px;
  overflow-y: auto;
  border: 2px solid var(--main);
  scrollbar-width: none;
}
.shop-wrap .tab-body .tab.show {
  display: flex;
}
.shop-wrap .tab-body .tab::after {
  display: block;
  content: "";
  width: 100%;
  height: 0px;
  background: var(--main);
  margin-bottom: -4px;
}

.item-wrap {
  position: relative;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0;
  width: var(--item2);
  height: var(--item3);
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-style: none;
  backdrop-filter: blur(2px);
  cursor: pointer;
}
.item:hover {
  background: rgba(0, 0, 0, 0.6);
}
.item span {
  display: block;
}
.item .img-wrap {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 12px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
.item .img-wrap img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.item .name {
  overflow: hidden;
  width: 90%;
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-size: 16px;
  font-weight: var(--regular);
  color: var(--white);
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
}
.item .price {
  display: flex;
  margin-top: 8px;
  font-size: 16px;
  color: var(--white);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
  white-space: nowrap;
}

[class*=price] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 8px;
  font-size: 16px;
}
[class*=price] .cost::after {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: initial;
  font-size: 12px;
  width: 18px;
  height: 18px;
  font-weight: 900;
  border-radius: 100%;
  box-sizing: border-box;
  text-shadow: initial;
}
[class*=price] .cost {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  white-space: nowrap;
}
[class*=price] .price-type {
  color: var(--white);
  margin: 0;
}
[class*=price] .gold::after {
  content: "G";
  color: #e6c000;
  border: 2px solid #fffb83;
  background: rgb(255, 250, 103);
  box-shadow: 2px 1px 0px #ffe015, inset 2px 3px 2px #ffe015;
}
[class*=price] .ducat::after {
  content: "D";
  color: #9e1200;
  border: 2px solid #ff7e67;
  background: #ff7e67;
  box-shadow: 2px 1px 0px #b80000, inset 2px 3px 2px #e01a00;
}
[class*=price] .pinecone::after {
  content: "";
  background: url(/public/img/icon/gold-plated-pine-con.png) no-repeat center center/contain;
}
[class*=price] .adv-seal::after {
  content: "A";
  font-family: initial;
  font-size: 20px;
  font-weight: 200;
  color: #be7f36;
  border: 1px solid #ebe4c5;
  background: #fdf290;
  box-shadow: 2px 1px 0px #cc8f5d, inset 3px 3px 4px #fff7db;
}

.item-detail {
  position: fixed;
  z-index: 100;
  border-radius: 4px;
  padding: 20px 12px;
  width: max-content;
  min-width: 220px;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border-style: none;
  backdrop-filter: blur(4px);
  transform: translateX(-100%);
}
.item-detail span {
  display: block;
}
.item-detail .name {
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-size: 20px;
  font-weight: var(--regular);
  color: var(--white);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
}
.item-detail .limit {
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-size: 16px;
  font-weight: var(--regular);
  text-align: center;
  color: var(--text-light);
}
.item-detail [class*=-wrap] {
  display: block;
  border: 1px solid var(--white);
  padding: 0 12px 12px 8px;
  border-radius: 4px;
}
.item-detail [class*=-wrap]:not(:first-child) {
  margin-top: 20px;
}
.item-detail .wrap-tit {
  display: block;
  padding: 6px 4px 0 4px;
  margin: -8px auto 0 0;
  width: fit-content;
  font-size: 16px;
  font-weight: var(--bold);
  color: #f16600;
  background: var(--black);
  transform: translateY(-4px);
}
.item-detail .options-wrap {
  margin: 20px 0 0;
}
.item-detail .options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.item-detail .options:not(:nth-child(2)) {
  margin-top: 8px;
}
.item-detail .options:nth-child(2) {
  margin-top: 4px;
}
.item-detail .option-txt {
  font-size: 16px;
  color: var(--text-light);
}
.item-detail .option-txt:not(:last-child) {
  flex-shrink: 0;
  white-space: nowrap;
}
.item-detail .color-part {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
}
.item-detail .color-txt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: var(--text-light);
}
.item-detail .color-txt:not(strong) {
  margin-top: 8px;
}
.item-detail .price span {
  color: var(--white);
}

.cart-wrap {
  display: none;
  padding: 24px 12px;
  border-radius: 4px;
  background: var(--main);
  box-shadow: 2px 2px 8px var(--deep);
}
.cart-wrap.show {
  display: block;
}
.cart-wrap .wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  padding: 0 0 8px;
}
.cart-wrap .inner {
  position: relative;
}
.cart-wrap [class*=plaid-] {
  z-index: 0;
  width: 100%;
  height: 100%;
}
.cart-wrap .plaid-wrap {
  position: absolute;
  background: var(--inner);
  overflow: hidden;
  top: 0;
  left: 0;
}
.cart-wrap .plaid-col {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 64px);
}
.cart-wrap .plaid-col span::before {
  display: block;
  margin-top: 2px;
  width: 2px;
  height: 100%;
  content: "";
  background: var(--main);
  box-shadow: 2px 0 0 var(--deep);
}
.cart-wrap .plaid-col span:last-child {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.cart-wrap .plaid-col span:last-child::after {
  display: block;
  content: "";
  margin-top: 2px;
  margin-right: -2px;
  width: 2px;
  height: 100%;
  background: var(--main);
}
.cart-wrap .plaid-row {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: repeat(12, 64px);
}
.cart-wrap .plaid-row span::before {
  display: block;
  width: 100%;
  height: 2px;
  display: block;
  content: "";
  background: var(--main);
  box-shadow: 0 2px 0 var(--deep);
}
.cart-wrap::after {
  display: block;
  content: "";
  width: 100%;
  height: 0px;
  background: var(--main);
  margin-bottom: -4px;
}

.cart-item-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  gap: 2px;
  width: 512px;
  height: 192px;
  border: 2px solid var(--main);
  scrollbar-width: none;
}

.cart-item {
  position: relative;
  z-index: 1;
  height: min-content;
  box-sizing: border-box;
  border-style: none;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.3);
}
.cart-item label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--item2);
  height: var(--item3);
  box-sizing: border-box;
}
.cart-item input:checked + label {
  border: 4px solid var(--dark02);
}
.cart-item .img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
}
.cart-item .img-wrap img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-item .name {
  color: var(--text-light);
}
.cart-item .price {
  color: var(--text-light);
}

.baggage-wrap {
  padding: 24px 12px;
  border-radius: 4px;
  background: var(--main);
  box-shadow: 2px 2px 8px var(--deep);
}
.baggage-wrap.show {
  display: block;
}
.baggage-wrap .wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 4px;
  padding: 4px 0 8px;
}
.baggage-wrap .inner {
  position: relative;
  overflow-y: auto;
  max-height: calc(var(--item3) * 3 + 112px);
  scrollbar-width: none;
}
.baggage-wrap [class*=plaid-] {
  z-index: 0;
  width: 100%;
  height: 100%;
}
.baggage-wrap .plaid-wrap {
  position: absolute;
  background: var(--inner);
  overflow: hidden;
  top: 0;
  left: 0;
}
.baggage-wrap .plaid-col {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 64px);
}
.baggage-wrap .plaid-col span::before {
  display: block;
  margin-top: 2px;
  width: 2px;
  height: 100%;
  content: "";
  background: var(--main);
  box-shadow: 2px 0 0 var(--deep);
}
.baggage-wrap .plaid-col span:last-child {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.baggage-wrap .plaid-col span:last-child::after {
  display: block;
  content: "";
  margin-top: 2px;
  margin-right: -2px;
  width: 2px;
  height: 100%;
  background: var(--main);
}
.baggage-wrap .plaid-row {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: repeat(12, 64px);
}
.baggage-wrap .plaid-row span::before {
  display: block;
  width: 100%;
  height: 2px;
  display: block;
  content: "";
  background: var(--main);
  box-shadow: 0 2px 0 var(--deep);
}
.baggage-wrap::after {
  display: block;
  content: "";
  width: 100%;
  height: 0px;
  background: var(--main);
  margin-bottom: -4px;
}

.baggage-list-wrap {
  position: relative;
}
.baggage-list-wrap .scroll-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  gap: 2px;
  width: 512px;
  height: 192px;
  border: 2px solid var(--main);
  scrollbar-width: none;
}

.shop-gnb-wrap {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 100;
}
.shop-gnb-wrap .btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  border-radius: 50px;
  padding: 12px;
  border: 1px solid var(--deep);
  background: var(--light02);
}
.shop-gnb-wrap .shop-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-style: none;
  border-radius: 100%;
  background: var(--main);
  transition: all 0.2s;
  cursor: pointer;
}
.shop-gnb-wrap .shop-btn:active {
  box-shadow: inset 2px 2px 2px var(--deep);
}
.shop-gnb-wrap .shop-btn span {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.shop-gnb-wrap .list-comp-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(calc(100% + 8px));
}

.wallet .wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 0 4px;
  width: fit-content;
  height: 20px;
  border-radius: 4px;
}
.wallet .wrap > div {
  flex: 0 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 2px;
}
.wallet .wrap > div::after {
  width: 20px;
  height: 20px;
}
.wallet span {
  line-height: 1.2;
  font-size: 18px;
  height: 20px;
}
.wallet .gold::after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: "G";
  font-family: initial;
  font-size: 12px;
  padding-left: 1px;
  font-weight: 900;
  color: #e6c000;
  border-radius: 100%;
  border: 4px solid #fffb83;
  background: rgb(255, 250, 103);
  box-shadow: 2px 1px 0px #ffe015, inset 2px 3px 2px #ffe015;
  box-sizing: border-box;
  transform: translateY(-2px);
}
.wallet .ducat::after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: "D";
  font-family: initial;
  font-size: 12px;
  padding-left: 1px;
  font-weight: 900;
  color: #9e1200;
  border-radius: 100%;
  border: 4px solid #ff7e67;
  background: #ff7e67;
  box-shadow: 2px 1px 0px #b80000, inset 2px 3px 2px #e01a00;
  box-sizing: border-box;
  transform: translateY(-2px);
}
.wallet .pinecon::after {
  display: inline-flex;
  content: "";
  background: url(/public/img/icon/gold-plated-pine-con.png) no-repeat center center/auto;
}
.wallet .adv-seal::after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: "A";
  font-family: initial;
  font-size: 14px;
  font-weight: 200;
  color: #be7f36;
  border-radius: 100%;
  border: 1px solid #ebe4c5;
  background: #fdf290;
  box-shadow: 2px 1px 0px #cc8f5d, inset 3px 3px 4px #fff7db;
  box-sizing: border-box;
  transform: translateY(-2px);
}

.npc-portrait-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 747px;
}
.npc-portrait-wrap img {
  max-width: 700px;
  transform: scaleX(-1);
}

.npc-dialog-wrap {
  position: relative;
  z-index: 0;
  padding: 24px 48px;
  margin: -122px auto 0;
  width: 86%;
  min-height: 280px;
  background: #5f473d;
  border: 10px solid #ccbda7;
  box-sizing: border-box;
}
.npc-dialog-wrap .npc-name {
  font-size: 32px;
  font-weight: var(--regular);
  color: var(--white);
}
.npc-dialog-wrap .dialog-box {
  padding: 24px;
  max-width: 55%;
}
.npc-dialog-wrap .npc-txt {
  line-height: 1.5;
  font-size: 22px;
  color: var(--white);
  word-break: keep-all;
}

.map {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(1px);
}
.map .wrap {
  position: relative;
  width: fit-content;
  height: 100%;
  max-height: fit-content;
}
.map img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.map .map-btn-wrap {
  position: absolute;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(4px);
}
.map .map-btn-wrap::before {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 0;
  display: block;
  content: "";
  width: 80%;
  height: 40%;
  box-shadow: 0 0 8px 4px var(--light01);
  background: var(--light01);
  border-radius: 50px;
  opacity: 0.5;
}
.map .map-btn-wrap .map-btn {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border-radius: 50px;
}
.map .map-btn-wrap .map-btn .txt {
  line-height: 1;
  font-size: 18px;
}
.map .map-btn-wrap:hover {
  z-index: 3;
}
.map .map-btn-wrap:hover::before {
  box-shadow: 0 0 12px 8px var(--light01);
  transition: transform 0.2s;
  transform: translateY(-4px);
  opacity: 0.8;
}
.map .map-btn-wrap:hover .map-btn {
  transition: transform 0.2s;
  transform: translateY(-4px);
}
.map .map-btn-wrap:hover .map-btn .txt {
  color: var(--deep);
}

.road-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/public/img/bg/forest-road.png);
  background-repeat: repeat;
  background-size: 100%;
  animation-name: roadMoving;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 8s;
  isolation: isolate;
}
.road-wrap::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.9;
}
.road-wrap.boost {
  animation-duration: 4s;
}

@keyframes roadMoving {
  0% {
    background-position: center 100%;
  }
  100% {
    background-position: center -332%;
  }
}
.player {
  position: absolute;
  bottom: 5%;
  left: 48.5%;
  z-index: 1;
  transform: translate(-50%, 0);
  width: 59px;
  height: 90px;
  background: url(/public/img/player/basic-character-transport.png) no-repeat center center/contain;
}

.road-timer-wrap {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  padding: 12px;
  border-radius: 4px;
  background: var(--main);
}
.road-timer-wrap p {
  color: var(--text-dark);
  font-size: 16px;
}
.road-arrive-wrap {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
  padding: 12px;
  background: var(--main);
  border-radius: 4px;
}
.road-arrive-wrap [class*=txt] {
  font-size: 18px;
  color: var(--text-dark);
}
.road-arrive-wrap .txt-movment {
  margin-bottom: 4px;
}
.road-arrive-wrap .destination-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.road-arrive-wrap .txt-arrive {
  padding: 4px 12px;
  background: var(--deep);
  color: var(--text-light);
  border-radius: 50px;
}