* {
  margin: 0;
  padding: 0;
  font-family: "Mabinogi_Classic";
}

body {
  width: 100%;
}

input[type=checkbox] {
  appearance: none;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 12px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.nav-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: initial;
}

ul, ol {
  list-style: none;
}

.todo {
  position: fixed;
  bottom: 12px;
  left: 2%;
  z-index: 999;
  width: 40px;
  height: 40px;
  background: darkcyan;
  border-radius: 100%;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s;
}

.todo.expanded {
  width: 520px;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 24px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.8431372549);
  border: 2px solid var(--brd-gr);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  text-indent: 0;
}

.todo.expanded h2 {
  position: sticky;
  top: -12px;
  padding: 12px 0;
  background: #fff;
}

.todo.expanded p {
  font-size: 22px;
  line-height: 1.5;
}

.todo.expanded span {
  display: block;
  font-size: 18px;
  color: var(--txt-gr);
}

.todo.expanded .complete {
  text-decoration: line-through;
  color: var(--btn-dis);
}

.todo.expanded p:not(:first-child) {
  padding-top: 8px;
  margin-top: 8px;
  border-top: 1px solid var(--brd-gr);
}

.inner .tab-title {
  display: inline-block;
  margin-bottom: 36px;
  padding: 16px 36px;
  text-align: center;
  border-radius: 50px;
  background: #fff;
}

.npc-wrap {
  padding: 24px 24px 48px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  box-sizing: border-box;
  background: var(--bg-hl);
}

.btn-press {
  appearance: none;
  position: relative;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: initial;
  border-style: none;
  margin-bottom: 12px;
}
.btn-press::before {
  position: absolute;
  bottom: -12px;
  left: 0;
  z-index: -1;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--brd-dgr);
  border-radius: 8px;
}
.btn-press:active span {
  transform: translateY(8px);
}
.btn-press span {
  display: block;
  padding: 8px 18px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  background: #fff;
  transition: all 0.05s;
  transform: translateY(0);
  border: 1px solid #ddd;
  box-sizing: border-box;
}
.btn-press.small::before {
  bottom: -8px;
}
.btn-press.small span {
  padding: 6px 12px;
  font-size: 16px;
}
.btn-press.small:active span {
  transform: translateY(4px);
}

.baggage-wrap {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.baggage-wrap .btn-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
}
.baggage-wrap .inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 0;
  width: 100%;
  max-height: calc(100vh - 50px - 24px);
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.4901960784);
  backdrop-filter: blur(8px);
}
.baggage-wrap .inner.expanded {
  padding: 24px 12px;
}
.baggage-wrap .minimal .item {
  max-height: 241px;
  overflow: hidden;
}

.cart {
  position: fixed;
  top: 0;
  left: 0;
}

.wallet {
  padding: 24px;
}
.wallet .wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  padding: 12px;
  width: fit-content;
  border-radius: 4px;
  border: 1px solid var(--brd-gr);
}
.wallet .wrap > div {
  flex: 0 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 8px;
}
.wallet .wrap > div::before {
  width: 20px;
  height: 20px;
}
.wallet span {
  line-height: 1.2;
  font-size: 18px;
}
.wallet .gold::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: "G";
  font-family: initial;
  font-size: 12px;
  padding-left: 1px;
  font-weight: 900;
  color: #e6c000;
  border-radius: 100%;
  border: 4px solid #fffb83;
  background: rgb(255, 250, 103);
  box-shadow: 2px 1px 0px #ffe015, inset 2px 3px 2px #ffe015;
  box-sizing: border-box;
  transform: translateY(-4px);
}
.wallet .ducat::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: "D";
  font-family: initial;
  font-size: 12px;
  padding-left: 1px;
  font-weight: 900;
  color: #9e1200;
  border-radius: 100%;
  border: 4px solid #ff7e67;
  background: #ff7e67;
  box-shadow: 2px 1px 0px #b80000, inset 2px 3px 2px #e01a00;
  box-sizing: border-box;
  transform: translateY(-4px);
}
.wallet .pinecon::before {
  display: inline-flex;
  content: "";
  background: url(/public/img/gold-plated-pine-con.png) no-repeat center center/auto;
}
.wallet .adv-seal::before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  content: "A";
  font-family: initial;
  font-size: 14px;
  font-weight: 200;
  color: #be7f36;
  border-radius: 100%;
  border: 1px solid #ebe4c5;
  background: #fdf290;
  box-shadow: 2px 1px 0px #cc8f5d, inset 3px 3px 4px #fff7db;
  box-sizing: border-box;
  transform: translateY(-2px);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.popup .popup-wrap {
  position: relative;
  z-index: 1;
  min-width: 360px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}
.popup .popup-header {
  padding: 12px 24px;
  border-bottom: 1px solid var(--brd-gr);
}
.popup .popup-header .main-txt {
  line-height: 1.5;
  font-size: 20px;
  font-weight: 700;
  color: var(--txt-dark);
}
.popup .popup-inner {
  padding: 12px 24px;
}
.popup .popup-inner p {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  color: var(--txt-bk);
}
.popup .popup-bot .btn-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px 24px 12px;
  border-top: 1px solid var(--brd-gr);
}
.popup .popup-bot .btn {
  font-size: 20px;
}
.popup .dim {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
}
.popup .popup-alert {
  padding: 24px;
  text-align: center;
  font-size: 20px;
}

.btn-wrap {
  padding: 20px 20px;
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
}

.color-interface-wrap {
  position: fixed;
  bottom: -24px;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  width: 1px;
}
.color-interface-wrap.show {
  width: auto;
}
.color-interface-wrap .color-btn {
  flex-shrink: 0;
  position: relative;
  display: inline-flex;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border-style: none;
  cursor: pointer;
  background: var(--main);
}
.color-interface-wrap .color-btn .hover-txt {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 8px 12px;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 16px;
  border-radius: 50px;
  background: var(--white);
  border: 1px solid #eee;
  opacity: 0;
  transform: translate(-50%, 0);
  transition: all 0.3s;
}
.color-interface-wrap .color-btn:hover .hover-txt {
  opacity: 1;
  transform: translate(-50%, -100%);
}

.shop-wrap {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0 auto;
  width: min-content;
}
.shop-wrap .shop-header {
  padding: 24px 48px;
  background: var(--shop-header);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom: 2px solid var(--deep);
}
.shop-wrap .shop-header strong {
  font-size: 24px;
  color: var(--text-dark);
}
.shop-wrap .tab-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 12px;
  border-bottom: 1px solid var(--deep);
}
.shop-wrap .tab-header .tab-btn {
  border: 1px solid var(--deep);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: var(--tab-btn);
  padding: 8px 16px;
  font-weight: var(--bold);
  font-size: 18px;
  color: var(--text-dark);
  cursor: pointer;
}
.shop-wrap .tab-header .tab-btn.active {
  color: var(--text-light);
}
.shop-wrap .inner {
  padding: 20px 28px 24px;
  background: var(--main);
}
.shop-wrap .tab-body {
  position: relative;
  padding: 24px 0;
}
.shop-wrap .tab-body [class*=plaid-] {
  z-index: 0;
  width: 100%;
  height: 512px;
}
.shop-wrap .tab-body .plaid-wrap {
  position: absolute;
  background: var(--inner);
  overflow: hidden;
  top: 24px;
  left: 0;
}
.shop-wrap .tab-body .plaid-col {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 64px);
}
.shop-wrap .tab-body .plaid-col span::before {
  display: block;
  margin-top: 2px;
  width: 2px;
  height: 100%;
  content: "";
  background: var(--main);
  box-shadow: 2px 0 0 var(--deep);
}
.shop-wrap .tab-body .plaid-col span:last-child {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.shop-wrap .tab-body .plaid-col span:last-child::after {
  display: block;
  content: "";
  margin-top: 2px;
  margin-right: -2px;
  width: 2px;
  height: 100%;
  background: var(--main);
}
.shop-wrap .tab-body .plaid-row {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: repeat(12, 64px);
}
.shop-wrap .tab-body .plaid-row span::before {
  display: block;
  width: 100%;
  height: 2px;
  display: block;
  content: "";
  background: var(--main);
  box-shadow: 0 2px 0 var(--deep);
}
.shop-wrap .tab-body .tab {
  position: relative;
  z-index: 1;
  display: none;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  width: 768px;
  height: 512px;
  overflow-y: auto;
  border: 2px solid var(--main);
  scrollbar-width: none;
}
.shop-wrap .tab-body .tab.show {
  display: flex;
}
.shop-wrap .tab-body .tab::after {
  display: block;
  content: "";
  width: 100%;
  height: 0px;
  background: var(--main);
  margin-bottom: -4px;
}

.item-wrap {
  position: relative;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 0;
  width: var(--item2);
  height: var(--item3);
  background: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-style: none;
  backdrop-filter: blur(2px);
  cursor: pointer;
}
.item:hover {
  background: rgba(0, 0, 0, 0.6);
}
.item span {
  display: block;
}
.item .img-wrap {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 12px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
.item .img-wrap img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.item .name {
  overflow: hidden;
  width: 90%;
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-size: 16px;
  font-weight: var(--regular);
  color: var(--white);
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
}
.item .price {
  display: flex;
  margin-top: 8px;
  font-size: 16px;
  color: var(--white);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
  white-space: nowrap;
}

[class*=price] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 8px;
  font-size: 16px;
}
[class*=price] .cost::after {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: initial;
  font-size: 12px;
  width: 18px;
  height: 18px;
  font-weight: 900;
  border-radius: 100%;
  box-sizing: border-box;
  text-shadow: initial;
}
[class*=price] .cost {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  white-space: nowrap;
}
[class*=price] .price-type {
  color: var(--white);
}
[class*=price] .gold::after {
  content: "G";
  color: #e6c000;
  border: 2px solid #fffb83;
  background: rgb(255, 250, 103);
  box-shadow: 2px 1px 0px #ffe015, inset 2px 3px 2px #ffe015;
}
[class*=price] .ducat::after {
  content: "D";
  color: #9e1200;
  border: 2px solid #ff7e67;
  background: #ff7e67;
  box-shadow: 2px 1px 0px #b80000, inset 2px 3px 2px #e01a00;
}
[class*=price] .pinecone::after {
  content: "";
  background: url(/public/img/gold-plated-pine-con.png) no-repeat center center/contain;
}
[class*=price] .adv-seal::after {
  content: "A";
  font-family: initial;
  font-size: 20px;
  font-weight: 200;
  color: #be7f36;
  border: 1px solid #ebe4c5;
  background: #fdf290;
  box-shadow: 2px 1px 0px #cc8f5d, inset 3px 3px 4px #fff7db;
}

.item-detail {
  position: fixed;
  z-index: 100;
  border-radius: 4px;
  padding: 20px 12px;
  width: max-content;
  min-width: 220px;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border-style: none;
  backdrop-filter: blur(4px);
  transform: translateX(-100%);
}
.item-detail span {
  display: block;
}
.item-detail .name {
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-size: 20px;
  font-weight: var(--regular);
  color: var(--white);
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.8);
}
.item-detail .limit {
  line-height: 1.5;
  letter-spacing: -0.3px;
  font-size: 16px;
  font-weight: var(--regular);
  text-align: center;
  color: var(--text-light);
}
.item-detail [class*=-wrap] {
  display: block;
  border: 1px solid var(--white);
  padding: 0 12px 12px 8px;
  border-radius: 4px;
}
.item-detail [class*=-wrap]:not(:first-child) {
  margin-top: 20px;
}
.item-detail .wrap-tit {
  display: block;
  padding: 6px 4px 0 4px;
  margin: -8px auto 0 0;
  width: fit-content;
  font-size: 16px;
  font-weight: var(--bold);
  color: #f16600;
  background: var(--black);
  transform: translateY(-4px);
}
.item-detail .options-wrap {
  margin: 20px 0 0;
}
.item-detail .options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.item-detail .options:not(:nth-child(2)) {
  margin-top: 8px;
}
.item-detail .options:nth-child(2) {
  margin-top: 4px;
}
.item-detail .option-txt {
  font-size: 16px;
  color: var(--text-light);
}
.item-detail .option-txt:not(:last-child) {
  flex-shrink: 0;
  white-space: nowrap;
}
.item-detail .color-part {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
}
.item-detail .color-txt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: var(--text-light);
}
.item-detail .color-txt:not(strong) {
  margin-top: 8px;
}
.item-detail .price span {
  color: var(--white);
}

.cart-item-wrap label {
  display: block;
}
.cart-item-wrap .img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
}
.cart-item-wrap .img-wrap img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.npc-portrait-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 747px;
}
.npc-portrait-wrap img {
  max-width: 700px;
  transform: scaleX(-1);
}

.npc-dialog-wrap {
  position: relative;
  z-index: 0;
  padding: 24px 48px;
  margin: -122px auto 0;
  width: 86%;
  min-height: 280px;
  background: #5f473d;
  border: 10px solid #ccbda7;
  box-sizing: border-box;
}
.npc-dialog-wrap .npc-name {
  font-size: 32px;
  font-weight: var(--regular);
  color: var(--white);
}
.npc-dialog-wrap .dialog-box {
  padding: 24px;
}
.npc-dialog-wrap .npc-txt {
  font-size: 22px;
  color: var(--white);
}