// 초기화
*{margin:0;padding:0;font-family:'Mabinogi_Classic';}
body{width:100%}

nav{position:sticky;top:0;left:0;z-index:99;padding:12px;background:#fff;border-bottom:1px solid #ddd;}
.sample01{background:rgb(114, 0, 0);}
.sample02{min-height:80vh;background:rgb(56, 56, 56);}
h1{color:#fff;}
.nav-btn{display:inline-flex;align-items:center;justify-content:center;margin-right:12px;padding:12px;border:1px solid #333;border-radius:8px;}
a{text-decoration:none;color:initial;}
.todo{position:fixed;top:12px;left:8%;z-index:999;width:40px;height:40px;background:darkcyan;border-radius:100%;text-indent:-9999px;overflow:hidden;cursor:pointer;transition:all .1s}
.todo.expanded{width:520px;height:auto;max-height:80vh;overflow-y:auto;border-radius:24px;padding:12px;background:#ffffffd7;border:2px solid var(--brd-gr);box-shadow:0px 0px 15px rgba(0, 0, 0, 0.4);backdrop-filter:blur(12px);text-indent:0}
.todo.expanded p{font-size:20px;line-height:1.5;}
.todo.expanded .complete{text-decoration:line-through;color:var(--btn-dis)}
.todo.expanded p:not(:first-child){padding-top:8px;margin-top:8px;border-top:1px solid var(--brd-gr)}

.inner{
    padding:24px;
    .tab-title{
        display:inline-block;
        margin-bottom:36px;
        padding:16px 36px;
        text-align:center;
        border-radius:50px;
        background:#fff;
    }
}
.tabs{
    margin:0 0 42px;
    padding:52px;
    background:var(--bg-lbgr);
    border:1px solid var(--brd-div);
    border-radius:12px;
    .wrap{
        display:flex;
        flex-wrap:wrap;
        align-items:flex-start;
        justify-content:flex-start;
        gap:32px;
    }
}
.item{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    padding:24px 36px;
    background:#fff;
    border-radius:12px;
    box-shadow:4px 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing:border-box;
    transition: box-shadow .1s;
    border-style:none;
    cursor:pointer;
    &:hover{
        box-shadow:4px 4px 12px rgba(0, 0, 0, 0.1), 0px 0px 6px var(--brd-dgr);
    }
    .img-wrap{
        display:flex;
        align-items:center;
        justify-content:center;
        overflow:hidden;
        margin-bottom:12px;
        width:120px;
        height:120px;
        border-radius:8px;
        border:1px solid #ddd;
        box-sizing:border-box;
        img{
            display:block;
            width:100%;
            height:100%;
            object-fit:contain;
        }
    }  
    .name{
        line-height:1.5;
        font-size:18px;
        font-weight:700;
        color:var(--txt-bk);
    }
    .price{
        display:flex;
        align-items:center;
        justify-content:center;
        gap:8px;
        margin-top:8px;
        font-size:16px;
        color:var(--txt-dark);
        &::before{
            display:inline-flex;
            align-items:center;
            justify-content:center;
            content:'G';
            font-family:initial;
            font-size:14px;
            padding-left:2px;
            width:26px;
            height:26px;
            font-weight:900;
            color:#e6c000;
            border-radius:100%;
            border:4px solid #fffb83;
            background:rgb(255, 250, 103);
            box-shadow:2px 1px 0px #ffe015, inset 2px 3px 2px #ffe015;
            box-sizing:border-box;
        }
    }
    .options{
        display:flex;
        align-items:center;
        justify-content:center;
        gap:8px;
        margin:20px 0 0;
    }
    .with-color{
        position:relative;
        &:hover{
            .color-code{
                z-index:1;
                opacity:1;
                transform:translate(110%, -50%);
            }
        }
        .color-code{
            position:absolute;
            top:50%;
            right:0;
            z-index:-1;
            padding:4px 8px;
            border-radius:4px;
            border:2px solid var(--brd-gr);
            background:#fff;
            transition:all .2s;
            transform:translate(80%, -50%);
            opacity:0;            
            &::before{
                position:absolute;
                top:50%;
                left:0;
                display:block;
                content:"";
                border-style: solid;
                border-width: 10px 10px 0 10px;
                border-color: var(--brd-gr) transparent transparent transparent;
                transform:translate(-80%, -50%) rotate(90deg);
            }
            &::after{
                position:absolute;
                top:50%;
                left:0;
                display:block;
                content:"";
                border-style: solid;
                border-width: 8px 8px 0 8px;
                border-color: #fff transparent transparent transparent;
                transform:translate(-75%, -50%) rotate(90deg);
            }
        }
    }
}
.npc-wrap{
    padding:24px 24px 48px;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    justify-content:flex-start;
    gap:24px;
    box-sizing:border-box;
    background:var(--bg-hl);
}
.btn-press{
    appearance:none;
    position:relative;
    z-index:10;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    background:initial;
    border-style:none;
    &::before{
        position:absolute;
        bottom:-12px;
        left:0;
        z-index:-1;
        display:block;
        content:"";
        width:100%;
        height:100%;
        background:var(--brd-dgr);
        border-radius:8px;
    }
    &:active{
        span{
            transform:translateY(8px);
        }
    }
    span{
        display:block;
        padding:8px 18px;
        font-size:18px;
        font-weight:700;
        border-radius:8px;
        background:#fff;
        transition:all .05s;
        transform:translateY(0);
    }
}
.baggage-wrap{
    position:fixed;
    top:0;
    right:0;
    padding:24px 12px;
    z-index:100;
    .btn-baggage{
        padding:12px;
        font-size:20px;
        border:2px solid var(--brd-gr);
        appearance:none;
        border-radius:8px;
    }
    .inner{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        gap:12px;
        padding:24px 12px;
        width:100%;
        max-height:calc(100vh - 50px - 24px);
        overflow-y:auto;
        background:#ffffff7d;
        backdrop-filter:blur(8px);
    }
    .minimal{
        max-height:241px;
        overflow:hidden;
        border:1px solid var(--brd-gr);
    }
}